#botoes-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    flex-wrap: nowrap;
    margin: auto;
    position: relative; 
    
}

/* .botoescatalogo {
    margin: auto;
    height: 200px;
    width: 300px;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: #A0B491;
    font-family: 'Roca Two', sans-serif; 
    color: #E3E6DD;
    font-size: 24px;
} */

.catalogo-content h1 { 
    font-family: 'Roca Two', sans-serif; 
    color: #61806B; 
    margin-top: 1%;
    font-size: 64px;
    
}


.informacoes-produto {
    margin-top: 6%;
}

.catalogo-content {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
    width: 85%; 
    margin: 5% auto;  
    mask-image: linear-gradient(to bottom, transparent 1%, black 10%);
    background-image: url('/assets/img/background_catalogo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: scroll;
    padding: 20px; 
    border-radius: 15px; 
    margin-top: 15vw;
}

.catalogo-content h1, 
.catalogo-content h2, 
.catalogo-content p {
    margin-bottom: 10px;
}

.catalogo-content .text-content {
    flex: 1; 
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
    color: #373937;
}

.catalogo-content .text-content h1 {
    font-family: 'Roca Two', sans-serif;
    font-size: 4vw;
    color: #61806B;
}

.catalogo-content .text-content h2 {
    font-size: 2vw;
}

.catalogo-content .image-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.catalogo-content .image-content img {
    max-width: 60%; 
    height: auto; 
    border-radius: 10px; 
}

.catalogo-content .image-content .precop{
    background-color: #A0B491b3; 
    border-radius: 15px; 
    padding: 15px; 
    font-size: 1.5vw;
    color: #373937; 
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
    width: 100%; 
    max-width: 60%; 
    margin-top: 10px; 
    box-sizing: border-box; 
    margin-top: -90px;
    padding-top: 20%;
    position: relative;
    z-index: -1;
    font-weight: 500;

}

.catalogo-content p {
    font-size: 2vw;
}
.informacoes-produto {
    margin-top: 6%;
}

.catalogo-content .image-content .descwpp {
    font-size: 1.5vw;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 30px;
    font-weight: 500;
    color: #373937; 
}

.comprar-btn {
    background-color: #61806B; 
    color: #E3E6DD; 
    font-size: 2.5vw;
    font-family: 'Roca Two', sans-serif;
    padding: 5% 15%; 
    border-radius: 15px; 
    border: none; 
    transition: background-color 0.3s ease; 
    width: 60%;  
    margin-top: 10px; 
    color: #E3E6DD;
    align-content: center;
    text-align: end;
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

.wppbtnc {
    width: 4vw;
    height: auto;
    margin-left: 5%;
}

#botoes-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    flex-wrap: nowrap;
    margin: auto;
    height: 100%;
}

.botoescatalogo p{
    color: #E3E6DD;
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    background-color: #373937be;
    font-family: 'Roca Two', sans-serif; 
    font-size: 2vw;

}

.botoescatalogo {
    margin: auto;
    height: 600px;
    width: 300px;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border-radius: 30px;
    border: none;
    background-color: #A0B491;
}

.botoescatalogo:hover {
    transform: scale(1.05); 
    transition: 0.3s ease-in-out;
}



#btn-basicBag {
    background-image: url('/assets/img/mosaicos/basicBagMos.png');
    background-size: cover;
}

#btn-pocheteLuna {
    background-image: url('/assets/img/mosaicos/pocheteLunaMos.png');
    background-size: cover;
}

#btn-mochilaMudita {
    background-image: url('/assets/img/mosaicos/mochilaMuditaMos.png');
    background-size: cover;
}

#btn-mochilaUpeksha {
    background-image: url('/assets/img/mosaicos/mochilaUpeshkaMos.png');
    background-size: cover;
}

.comprar-btn:hover {
    background-color: #4F6F56; 
}

@media (max-width: 1200px) {

    .botoescatalogo {
        height: 550px;
    }

    .catalogo-content .image-content .precop{
        margin-top: -15%;
    }

}


@media (max-width: 768px) {
    .botoescatalogo {
        height: 250px;
    }
    .catalogo-content .image-content .precop{
        margin-top: -15%;
    }
}


@media (max-width: 480px) {
    #botoes-container{
        max-width: 400px;
    }
    .botoescatalogo {
        max-width: 60px;
        height: 150px;
    }

    .catalogo-content .image-content .precop{
        padding-left: 5%;
        padding-right: 5%;
    }

}
