

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo-cosmica { 
    font-family: 'Roca Two', sans-serif; 
    color: #61806B; 
    margin-left: 5%;
    margin-top: 5rem;
    font-size: 48px;
}

.subtitulo-cosmica {
    font-family: 'Roca Two', sans-serif; 
    color: #373937;
    margin-left: 5%;
    font-size: 27px;

}

.texto-upcycle {
    margin-left: 5%;
    font-size: 24px;
    margin-right: 30%;
    margin-top: 2%;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}


.union {
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(-50%);
        z-index: 0;
        opacity: 0.5;

}

.titulo-galeria { 
    text-align: right;
    font-family: 'Roca Two', sans-serif; 
    color: #373937; 
    margin-right: 15%;
    margin-top: 5rem;
    font-size: 48px;
    margin-bottom: 5%;
}

.galeriaimg {
    column-count: 4;
    column-gap: 4px;
    justify-content: left; 
    align-items: stretch; 
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
}

.galeriaimg img {

    width: 90%; 
    height: auto; 
    transition: transform 0.2s;
    z-index: 1;
    margin-top: 5%;
    border-radius: 80px;
}

.galeriaimg img:hover { 
    transform: scale(1.05); 
}

.itemgaleria {
     text-align: center; 
     z-index: 1; 
}