

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo-cosmica { 
    font-family: 'Roca Two', sans-serif; 
    color: #61806B; 
    margin-left: 5%;
    margin-top: 3.5rem;
    font-size: 48px;
}

.subtitulo-cosmica {
    font-family: 'Roca Two', sans-serif; 
    color: #373937;
    margin-left: 5%;
    font-size: 27px;

}

.texto-upcycle {
    margin-left: 5%;
    font-size: 24px;
    margin-right: 5%;
    margin-top: 2%;
    font-family: 'Radio Canada', sans-serif;
    font-weight: lighter;
}


.union {
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(-50%);
        z-index: 0;
        opacity: 0.5;

}

.titulo-galeria { 
    text-align: right;
    font-family: 'Roca Two', sans-serif; 
    color: #373937; 
    margin-right: 10%;
    margin-top: 5rem;
    font-size: 48px;
    margin-bottom: 5%;
}

.galeriaimg {
    column-count: 4;
    column-gap: 4px;
    justify-content: left; /* Alinha os itens à esquerda */ 
    align-items: stretch; /* Alinha os itens para que todos tenham a mesma altura */ 
    max-width: 80%; 
    margin-left: auto; /* Centraliza horizontalmente */ 
    margin-right: auto;
    z-index: 1;
}

.galeriaimg img {

    width: 90%; 
    height: auto; 
    transition: transform 0.2s;
    z-index: 1;
    margin-top: 5%;
    border-radius: 80px;
}

.galeriaimg img:hover { 
    transform: scale(1.05); 
}

.itemgaleria {
     text-align: center; 
     z-index: 1; 
}

@media (max-width: 1200px) {
    .titulo-galeria { 
        font-size: 40px;
        
    }

    .titulo-cosmica { 
        font-size: 40px;
        margin-top: 3rem;
    }
    
    .subtitulo-cosmica {
        font-size: 24px;
    
    }
    
    .texto-upcycle {
        font-size: 20px;
    }
    
}

@media (max-width: 768px) {
    .titulo-galeria { 
        font-size: 38px;
    }

    .titulo-cosmica { 
        font-size: 38px;
        margin-top: 2rem;
    }
    
    .subtitulo-cosmica {
        font-size: 20px;
    
    }
    
    .texto-upcycle {
        font-size: 18px;
    }
    
}

@media (max-width: 480px) {
    .titulo-galeria { 
        font-size: 32px;
    }

    .titulo-cosmica { 
        font-size: 32px;
        margin-top: 1rem;
    }
    
    .subtitulo-cosmica {
        font-size: 16px;
    
    }
    
    .texto-upcycle {
        font-size: 12px;
    }
}