.slogan {
    display: flex;
    justify-content: center;
    text-align: center;
}

.slogan h1{
    font-family: 'Roca Two';
    font-size: 4vh;
    color: #373937;
}

.slogan .logo-completo {
    padding-bottom: 4%;
    width: 400px;
}

/* categotias */
.categorias {
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow-x: auto;
}

.itens {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    max-width: 1500px;
    flex-wrap: nowrap; 
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 10px;
    text-align: center;
}

.item img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    transition: width 0.3s;
}

.txt-categoria {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #E3E6DD;
    background-color: #E3E6DD;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Radio Canada', sans-serif;
    transition: color 0.3s, background-color 0.3s, font-size 0.3s;
}

.item:hover .txt-categoria {
    color: #373937;
    background-color: #E3E6DD;;
    font-family: 'Radio Canada', sans-serif;
}

@media (max-width: 1200px) {
    .item {
        width: 280px;
    }

    .item img {
        max-width: 280px;
    }

    .txt-categoria {
        font-size: 14px;
        padding: 4px 8px;
    }
}

@media (max-width: 768px) {
    .item {
        width: 200px;
    }

    .item img {
        max-width: 200px;
    }

    .txt-categoria {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media (max-width: 480px) {
    .item {
        width: 150px;
    }

    .item img {
        max-width: 150px;
    }

    .txt-categoria {
        font-size: 10px;
        padding: 2px 4px;
    }
}

/* avaliações */
.avaliacoes h1 {
    color: #373937;
    font-size: 6.5vh;
    font-family: 'Roca Two';
    padding-left: 7%;
}

.avaliacoes {
    padding: 3% ;
}

.crsImg{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    overflow-x: auto;
}

.setaesquerda{
    float: left;
}

.setadireita{
    float: right;
}

.avaliacoes .img-avaliacao{
    width: 500px;
    height: 460px;
    border-radius: 30px;
}

/*sobre*/
.sobre-content {
    display: flex;
    padding: 20px;
}

.sobre .textos-sobre {
    width: 50%;
    padding-left: 7%;
}

.sobre .texto-sobre {
    padding-top: 2%;
    font-size: 3.4vh;
    color: #373937;
    text-align: justify;
}

.sobre .img-sobre {
    width: 50%;
    padding-right: 7%;
    padding-left: 4%;
}

.sobre h1 {
    color: #61806B;
    font-size: 10vh;
    font-family: 'Roca Two';
}

.sobre h3 {
    font-family: 'Radio Canada';
    font-weight: 500;
    font-size: 5vh;
    color: #373937;
}