.slogan {
    display: flex;
    justify-content: center;
    text-align: center;
}

.slogan h1{
    font-family: 'Roca Two';
    font-size: 4vh;
    color: #373937;
}

.slogan .logo-completo {
    padding-bottom: 4%;
    width: 400px;
}

@media (max-width: 1200px) {

    .slogan .logo-completo {
        padding-bottom: 4%; 
        max-width: 70%;
    }

    .slogan h1{
        font-size: 3.8vh;
    }

}

@media (max-width: 768px) {
    .slogan {
        margin-top: 5%;
    }

    .slogan .logo-completo {
        padding-bottom: 4%;
        max-width: 60%;
    }
    
    .slogan h1{
        font-size: 3.4vh;
    }
}

@media (max-width: 480px) {
    .slogan .logo-completo {
        padding-bottom: 4%;
        max-width: 40%;
    }

    .slogan h1{
        font-size: 3vh;
    }

}

/* categorias */

.categorias {
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow-x: auto;
}

.itens {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    max-width: 1500px;
    flex-wrap: nowrap; 
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 10px;
    text-align: center;
}

.item img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 20%;
    border: 1px;
    object-fit: cover;
    transition: width 0.3s;
}

.txt-categoria {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5%;
    color: #E3E6DD;
    background-color: #373937;
    border-radius: 10%;
    font-size: 20px;
    font-family: 'Radio Canada', sans-serif;
    transition: color 0.3s, background-color 0.3s, font-size 0.3s;
}

@keyframes floatup{

    0% {top: 80%;}
    100% {top: 50%;}
}

@keyframes darken{

    0% {filter: brightness(100%);
        }
    100% {
        filter: brightness(50%);
        background-color: #E3E6DD;}
}

.item:hover .txt-categoria {
    display: flex;
    font-family: 'Radio Canada', sans-serif;
    animation-name: floatup;
    animation-duration: 0.6s;
}

.item:hover .categoriaimg {
    animation-name: darken;
    animation-duration: 0.6s;
    filter: brightness(50%);
    background-color: #E3E6DD;
    background-clip: border-box;
}

.item:hover .item img{

    background-color: #E3E6DD;
    background-clip: border-box;
}

@media (max-width: 1200px) {
    .itens{
        gap: 0px;
    }

    .item {
        width: 280px;
        
    }

    .item img {
    
        max-width: 280px;
    }

    .txt-categoria {
        font-size: 14px;
        padding: 4px 8px;
    }
}

@media (max-width: 768px) {
    .item {
        width: 200px;
    }

    .item img {
        min-width: 90px;
        min-height: 150px;
    }

    .txt-categoria {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media (max-width: 480px) {
    .item {
        width: 150px;
        height: 100px;
    }

    .item img {
        max-width: 150px;
        height: 100px;
    }

    .txt-categoria {
        font-size: 10px;
        padding: 2px 4px;
    }
}

/* avaliações */
.avaliacoes h1 {
    color: #373937;
    font-size: 6.5vh;
    font-family: 'Roca Two';
    padding-left: 7%;
}

.avaliacoes {
    padding: 3% ;
    padding-top: 13%;
}

.crsImg1{
    text-align: center;
    display: none;
    justify-content: space-evenly;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.crsImg2{
    text-align: center;
    display: none;
    justify-content: space-evenly;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.crsImg3{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.setaesquerda{
    float: left;
    margin-top: 12%;
}

.setadireita{
    float: right;
    margin-top: 12%;
}

.avaliacoes .img-avaliacao{
    object-fit: cover;
    width: 400px;
    min-width: 200px;
    height: 400px;
    border-radius: 10%;
}


@media (max-width: 1200px) {
    .img-avaliacao{
        max-width: 40%;
    }

    .avaliacoes h1 {
        font-size: 6vh;
    }

    .crsImg1{
        display: none;
    }

    .crsImg2{
        display: flex;
    }

    .crsImg3{
        display: none;
    }

    .setaesquerda{
        margin-top: 19%;
    }
    
    .setadireita{
        margin-top: 19%;
    }
}

@media (max-width: 768px) {
 
    .img-avaliacao{
        max-width: 80%;
        max-height: 300px;
  
    }
    .avaliacoes h1 {
        font-size: 5vh;
    }
    .crsImg1{
        display: flex;
    }

    .crsImg2{
        display: none;
    }

    .crsImg3{
        display: none;
    }

    .setaesquerda{
        margin-top: 29%;
    }
    
    .setadireita{
        margin-top: 29%;
    }
}

@media (max-width: 480px) {

}

/*sobre*/
.sobre {
    padding-top: 10%;
}

.sobre-content {
    display: flex;
    padding: 20px;
}

.sobre .textos-sobre {
    width: 50%;
    padding-left: 7%;
}

.sobre .texto-sobre {
    padding-top: 2%;
    font-size: 3.4vh;
    color: #373937;
}

.sobre .img-sobre {
    width: 50%;
    padding-right: 7%;
    padding-left: 4%;
    object-fit: contain;
}

.sobre .img-sobrepequeno {
    display: none;
}

.sobre h1 {
    color: #61806B;
    font-size: 10vh;
    font-family: 'Roca Two';
}

.sobre h3 {
    font-family: 'Radio Canada';
    font-weight: 500;
    font-size: 5vh;
    color: #373937;
}

@media (max-width: 1200px) {
    
    .sobre h1 {
        font-size: 8vh;
    }

    .sobre h3 {
        font-weight: 500;
        font-size: 3.6vh;
    }

    .sobre .texto-sobre {
        font-size: 2.6vh;
    }

}

@media (max-width: 768px) {

    .sobre h1 {
        font-size: 6vh;
    }

    .sobre h3 {
        font-weight: 500;
        font-size: 2.5vh;
    }

    .sobre .texto-sobre {
        font-size: 2vh;
        width: 110%;
    }    

    .sobre .img-sobre {
        display: none;
    }

    .sobre .img-sobrepequeno {
        margin-top: -6%;
        display: flex;
        width: 50%;
        padding-right: 7%;
        padding-left: 4%;
        object-fit: contain;
    }
}

@media (max-width: 480px) {

    .sobre h1 {
        font-size: 8vh;
    }

    .sobre h3 {
        font-weight: 500;
        font-size: 4vh;
    }

    .sobre .texto-sobre {
        font-size: 3vh;
    }
}
