@font-face {
    font-family: 'Roca Two';
    src: url('../fonts/fonnts.com-Roca_Two_Bold.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

p {
    font-family: 'Radio Canada';
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E3E6DD;
}

.p1 {
    background-image: url('/assets/img/Background.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y: center;
    
}

/* navbar */

.navbar {
    display: flex;
    padding: 15px;
    background-color: #E3E6DD;
    z-index: 1;
}

.navbar nav {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    max-width: 1500px; 
    flex-wrap: nowrap;
    width: 100%;
}

.navbar a {
    color: #373937;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 400;
    font-size: larger;
    position: relative;
    margin-right: 30px;
}


.logo {
    margin: 0% 3% 0 1%;
}

.secoes a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #373937;
    position: absolute;
    top: 25px;
    left: 0;
    transition: 0.5s;
}


.secoes a:hover::after{
    width: 70%;
}

.secoes {
    margin-left: 0%;
}

@media (max-width: 768px) {
    .navbar {
        padding: 8px 10px;
    }

    .logo img {
        width: 60px;
        height: 26px;
    }

    .navbar a {
        font-size: 16px;
    }

    .navbar nav {
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 8px 10px;
    }

    .logo img {
        width: 40px;
        height: 17px;
    }

    .navbar a {
        font-size: 12px;
    }

    .navbar nav {
        gap: 8px;
    }
}

/* footer */

footer { 
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
} 
.contact-info { 
    text-align: left;
} 
.social-icons { 
    display: flex; gap: 10px; 
} 
.social-icons a { 
    color: #fff; text-decoration: none; 
} 
.social-icons img { 
    width: 24px; height: 24px; 
}