/* Estilos da Navbar */
.navbar {
    padding: 15px;
    background-color: #E3E6DD;

}

.navbar nav {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.navbar a {
    color: #373937;
    text-decoration: none;
    font-family: Radio Canada;
    font-weight: lighter;
    font-size: larger;
}

.logo {
    padding-right: 2%;
}

.slogan {
    display: flex;
    justify-content: center;
    text-align: center;
}

.full {
    background-color: #E3E6DD;
    font-family: roca;
}
